<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <div id='header'>
        <%= render 'layouts/navbar' %>
      </div>
    </div>
    <div class='w-full max-w-screen-xl mx-auto px-6'>
      <div class='lg:flex -mx-6'>
        <div id='content-wrapper' class='min-h-screen w-full lg:static lg:max-h-full lg:overflow-visible'>
          <div id="content">
            <div id="app" class="flex">
              <div class="pt-24 pb-16 lg:pt-28 w-full mt-3">
                <% flash.each do |type, msg| %>
                <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
                  <p class="font-bold"><%= msg %></p>
                </div>
              <% end %>
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
